* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(images/wave-ocean.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 30px;
	margin-right: 10px;
}

.main-nav li {
	display: inline-block;
}

.main-nav li a {
	color: white;
	text-decoration: none;
	padding: 5px 30px;
	font-family: Trebuchet MS, sans-serif;
	font-size: 20px;
	
}

.main-nav li.active a {
	border: 1px solid #3CB371;
	color: #3CB371;
}

.main-nav li a:hover {
	border: 1px solid #66CDAA;
	color: #66CDAA;
}

.logo img {
	width: 150px;
	height: auto;
	float: left;
}

.row {
	max-width: 1600px;
	margin: auto;
}

.container {
  display: block;
}